body {
  background-color: gray;
}
main {
  display: flex;
  background-color: white;
  justify-content: center;
  
}
.container {
  display: flex;
  flex-direction: column; /* Since its column we use align items to center */
  width: 75%;
  
  align-items: center;
  background-color: red;
  height:100vh;
}

.navForNow {
  background-color: yellow;
  margin: 0 0 0 0;
}
.faqContainer {
  display: flex;
  flex-direction: column;

  width: 500px; /* Set the width of the centered div to 500 pixels */

  background-color: white; /* Example background color */
  border-radius: 20px;
  /* Add other styling as needed */
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
