body {
  background-color: gray;
}
main {
  display: flex;
  background-color: white;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  background-color: red;
}

.navForNow {
  background-color: yellow;
  margin: 0 0 0 0;
}
